<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
  <!-- Servlet 1 -->
  <servlet>
  	<servlet-name>adding numbers</servlet-name>
  	<servlet-class>com.raka.servlet.AddNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adding numbers</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet 2 -->
  <servlet>
  	<servlet-name>AddNumbersGet</servlet-name>
  	<servlet-class>com.raka.servlet.AddNumbersGet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddNumbersGet</servlet-name>
  	<url-pattern>/addGet</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet 3 -->
  <servlet>
  	<servlet-name>AddNumbersPost</servlet-name>
  	<servlet-class>com.raka.servlet.AddNumbersPost</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddNumbersPost</servlet-name>
  	<url-pattern>/addPost</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet 4 -->
  <servlet>
  	<servlet-name>AddNumbersGetPost</servlet-name>
  	<servlet-class>com.raka.servlet.AddNumbersGetPost</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddNumbersGetPost</servlet-name>
  	<url-pattern>/addGetPost</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet 5 -->
  <servlet>
  	<servlet-name>sqAdd</servlet-name>
  	<servlet-class>com.raka.servlet.SqAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sqAdd</servlet-name>
  	<url-pattern>/sqAdd</url-pattern>
  </servlet-mapping>
  <!-- Servlet 6 -->
  <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>com.raka.servlet.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>square</servlet-name>
  	<url-pattern>/square</url-pattern>
  </servlet-mapping>
  
</web-app>