<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <servlet>
    <servlet-name>adding numbers</servlet-name>
    <servlet-class>com.raka.servlet.AddNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adding numbers</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNumbersGet</servlet-name>
    <servlet-class>com.raka.servlet.AddNumbersGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumbersGet</servlet-name>
    <url-pattern>/addGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNumbersPost</servlet-name>
    <servlet-class>com.raka.servlet.AddNumbersPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumbersPost</servlet-name>
    <url-pattern>/addPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNumbersGetPost</servlet-name>
    <servlet-class>com.raka.servlet.AddNumbersGetPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumbersGetPost</servlet-name>
    <url-pattern>/addGetPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rd-sqAdd</servlet-name>
    <servlet-class>com.raka.servlet.SqAddRequestDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rd-sqAdd</servlet-name>
    <url-pattern>/rd-sqAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rd-square</servlet-name>
    <servlet-class>com.raka.servlet.SquareRequestDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rd-square</servlet-name>
    <url-pattern>/rd-square</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send-sqAdd</servlet-name>
    <servlet-class>com.raka.servlet.SqAddSendRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send-sqAdd</servlet-name>
    <url-pattern>/send-sqAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send-square</servlet-name>
    <servlet-class>com.raka.servlet.SquareSendRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send-square</servlet-name>
    <url-pattern>/send-square</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session-sqAdd</servlet-name>
    <servlet-class>com.raka.servlet.SqAddHttpSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session-sqAdd</servlet-name>
    <url-pattern>/session-sqAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session-square</servlet-name>
    <servlet-class>com.raka.servlet.SquareHttpSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session-square</servlet-name>
    <url-pattern>/session-square</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie-sqAdd</servlet-name>
    <servlet-class>com.raka.servlet.SqAddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie-sqAdd</servlet-name>
    <url-pattern>/cookie-sqAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie-square</servlet-name>
    <servlet-class>com.raka.servlet.SquareCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie-square</servlet-name>
    <url-pattern>/cookie-square</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>com.raka.servlet.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>context</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>Guruji</param-value>
  </context-param>
  <servlet>
    <servlet-name>config</servlet-name>
    <servlet-class>com.raka.servlet.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>ServletConfig</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>config</servlet-name>
    <url-pattern>/hey</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IsEmpty</display-name>
    <filter-name>IsEmpty</filter-name>
    <filter-class>com.raka.servlet.filter.IsEmpty</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsEmpty</filter-name>
    <url-pattern>/addStudent</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>IdFilter</display-name>
    <filter-name>IdFilter</filter-name>
    <filter-class>com.raka.servlet.filter.IdFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IdFilter</filter-name>
    <url-pattern>/addStudent</url-pattern>
  </filter-mapping>
</web-app>